@import settings

@font-face 
	font-family: "laptevBrush"
	src: local("Laptev Brush"), url("/fonts/Laptev_Brush.woff") format("woff")

.logo
	display: block
	background-image: url("/img/logo.png")
	background-position: center
	width: 155px
	height: 107px
	margin-top: 7px
	margin-left: -25px

.text
	line-height: 1.4em

.text--error
	color: $error
	display: none

.mainNavigation
	display: flex
	justify-content: space-between
	align-items: center
	position: relative	

.navigationList
	transition-property: right
	transition-duration: 1s
	display: flex
	align-items: center
	@media screen and (max-width: $xlSize)
		display: none	

.navigationList__item
	margin-right: 20px		

.navigationList__link
	color: $black
	text-decoration: none

.link:hover
	color: $hover

.link:active
	color: $active	

.mainTitle
	font-family: $laptev
	font-size: 96px
	text-shadow: -1px 0 0
	font-weight: lighter
	@media screen and (max-width: $sSize)
		font-size: 80px

.subTitle
	font-family: GilroyBold, sans-serif
	font-size: 28px
	line-height: 40px

.button
	background: none
	color: $blue
	width: 224px
	height: 69px
	cursor: pointer
	position: relative

.button__sign
	font-family: $laptev	
	font-size: 30px
	text-shadow: 0.5px 0 0
	letter-spacing: 2px
	color: $white
	margin: auto
	position: absolute
	top: 0
	left: 0 
	bottom: 0
	right: 0
	width: 100%
	text-align: center
	height: 50%

.button__sign--big	
	top: 15px

.button:hover
	color: $hover

.button:active
	color: $active	

.button--big
	width: 297px
	height: 92px

.button--form
	width: 297px

.button--noPadding 
	padding-top: 0	

.title
	background-repeat: no-repeat
	font-family: $laptev
	font-size: $title	
	font-weight: lighter
	color: $white
	text-shadow: -1px 0 0
	@media screen and (max-width: $xlSize)
		font-size: $titleSmall
		background-size: contain

.title--black
	color: $black

.title--purple 
	background-image: url("/img/bgTitlePurple.png")
	height: 96px
	padding-top: 15px
	padding-left: 32px	

.title--pink 
	background-image: url("/img/bgTitlePink.png")
	background-position: center
	height: 164px
	padding-top: 48px
	padding-left: 12px

.title--orange
	background-image: url("/img/bgTitleorange.png")
	height: 138px
	padding-top: 40px
	padding-left: 39px	
	margin-left: -13px

.title--blue
	background-image: url("/img/bgTitleBlue.png")
	background-position: center
	height: 99px
	padding-top: 10px
	padding-left: 0px

.title--darkPurple
	background-image: url("/img/bgTitleDarkPurple.png")
	background-position: center
	height: 99px
	padding-top: 25px
	padding-left: 10px

.title--darkPing
	background-image: url("/img/bgTitleDarkPink.png")
	background-position: center
	height: 99px
	padding-top: 10px
	padding-left: 10px	

.stereotypesList
	display: flex
	flex-direction: column
	align-items: center
	@media screen and (max-width: $lSize)
		margin: 0 auto
		width: 320px


.stereotypesList__item 
	margin-bottom: 8px	
	position: relative

.stereotypesList__item::before
	background-image: url("/img/line.png")
	background-repeat: no-repeat
	background-position: left
	background-size: cover
	height: 2px
	display: block
	position: absolute
	width: 110%
	left: -5%
	top: 10px
	content: ""

.stereotypesList__item::after
	@media screen and (max-width: $lSize)
		background-image: url("/img/line.png")
		background-repeat: no-repeat
		background-position: left
		background-size: cover
		height: 2px
		display: block
		position: absolute
		width: 70%
		left: 0 
		right: 0
		margin: 0 auto
		top: 32px
		content: ""	



.advantagesList__term
	font-family: $laptev
	font-size: $secondTitle	
	font-weight: lighter
	margin-bottom: 3px

.advantagesList
	display: grid
	text-align: center
	grid-template-rows: 1fr
	grid-template-columns: 1fr 1fr 1fr 1fr
	@media screen and (max-width: $xlSize)
		grid-template-rows: 1fr 1fr
		grid-template-columns: 1fr 1fr
		justify-items: center
	@media screen and (max-width: $sSize)	
		grid-template-rows: 1fr 1fr 1fr 1fr 
		grid-template-columns: 1fr 
		justify-items: center

.advantagesList__item
	width: 260px
	// @media screen and (max-width: $xlSize)
	// 	width: 50%

.advantagesList__item:nth-child(-n+2)
	@media screen and (max-width: $xlSize)	
		margin-bottom: 80px


.advantagesList__item::before
	content: ""
	display: block
	background-position: bottom
	background-repeat: no-repeat
	margin: auto
	margin-bottom: 23px

.advantagesList__item--time::before
	background-image: url("/img/advantagesTime.png")	
	width: 98px
	height: 97px

.advantagesList__item--practice::before
	background-image: url("/img/advantagesPractice.png")	
	width: 122px
	height: 101px

.advantagesList__item--communication::before
	background-image: url("/img/advantagesCommunication.png")	
	width: 102px
	height: 97px

.advantagesList__item--schedule::before
	background-image: url("/img/advantagesSchedule.png")	
	width: 112px
	height: 96px	

.teacherSlider
	position: relative
	@media screen and (max-width: $mSize)
		min-height: 600px
		width: auto

.teacherSlider__viewport
	position: relative
	width: 380px
	height: 507px
	margin: 0 auto
	left: 0
	right: 0
	overflow: hidden

.teacherSlider__sliders
	display: flex
	transition: .25s ease-in-out

.teacherSlider__slide
	width: 380px
	height: 507px
	flex-shrink: 0
	display: flex

.teacherSlider__nav
	display: flex
	width: 770px
	align-items: center
	justify-content: space-between
	position: absolute
	top: -76px
	bottom: 0
	@media screen and (max-width: $lSize)
		left: 0
		right: 0
		margin: 0 auto
		width: 580px
	@media screen and (max-width: $mSize)
		top: auto
		left: 0
		right: 0
		width: 200px



.teacherSlider__mainPhoto
	text-align: center

.boldText
	font-family: $GilroyBold
	font-size: $signSize

.arrow
	width: 80px
	height: 55px
	background: none
	cursor: pointer
	color: $blue
	padding: 0

.arrow--small
	width: 41px
	height: 29px

.arrow:hover
	color: $hover

.arrow:active
	color: $active

.arrow--disabled
	color: $disabled
	cursor: default	

.arrow--disabled:hover
	color: $disabled
	cursor: default		

.arrow--disabled:active
	color: $disabled
	cursor: default		

.arrow--right
	transform: rotate(180deg)	

.teacherSlider__currentPhoto
	margin: 0 auto	

.teacherSlider__listWrap
	background-image: url("/img/bgTeachersList.png")
	height: 347px
	position: relative
	overflow-x: hidden

.teacherSlider__list
	display: flex
	position: absolute
	min-width: 100%
	height: 347px
	justify-content: center
	align-items: center
	overflow-x: hidden
	cursor: default


.teacherSlider__teacher
	width: 200px
	height: 200px
	margin-right: 20px
	position: relative
	z-index: 1

.teacherSlider__img	
	cursor: pointer
	@media screen and (max-width: $xlSize)
		cursor: grab

.teacherSlider__teacher:active::after
	width: 200px
	height: 200px
	position: absolute
	left: 0 
	top : 0
	background-color: rgba(0, 0, 0, 0.2)
	content: ""


.teacherSlider__teacher:last-child
	margin-right: 0

.teacherSlider__sign
	margin-top: -17px

.pictureCarousel__wrap
	display: flex
	align-items: center
	justify-content: center
	position: relative
	width: 100%
	height: 400px
	margin-bottom: 50px
	overflow-x: hidden
	@media screen and (max-width: $lSize)
		height: 280px	

.pictureCarousel
	display: flex
	position: absolute
	transition: .25s ease-in-out
	cursor: grab

.pictureCarousel__item
	width: 500px
	height: 400px	
	@media screen and (max-width: $lSize)
		width: 350px
		height: 280px		

.pictureCarousel__nav
	margin: 0 auto
	display: flex
	align-items: center
	justify-content: space-between
	width: 132px
	margin-bottom: 22px

.pictureCarousel__arrow
	width: 41px
	height: 29px	

.pictureCarousel__pagination
	display: none
	@media screen and (max-width: $mSize)
		display: flex
		justify-content: center
		margin-bottom: 40px

.pictureCarousel__dot
	width: 12px
	height: 12px
	background-color: #000000
	border-radius: 50%
	margin-right: 10px
	cursor: pointer


.bigTitle
	font-family: $laptev
	font-size: 72px
	font-weight: lighter
	text-shadow: -1px 0 0
	@media screen and (max-width: $mSize)
		font-size: 48px

.bigSubTitle
	font-family: $laptev
	font-size: $title
	font-weight: lighter
	text-shadow: -1px 0 0	
	letter-spacing: 1px
	@media screen and (max-width: $mSize)
		font-size: 32px

.form__inputWrap
	position: relative

.form__textError
	position: absolute
	top: -30px
	left: 0 
	right: 0
	@media screen and (max-width: $xsSize)
		top: -60px


.form__input
	border: 1px solid $black
	border-radius: 25px
	width: 400px
	height: 50px
	padding-left: 20px
	margin-bottom: 22px
	@media screen and (max-width: $sSize)
		width: 90%

.form__input::placeholder 
	color: #636363

.form__input:focus 
	outline: none
	border: 1px solid $hover
	border-radius: 25px

.form__input--error
	border-color: $error

.form__text
	margin-bottom: 32px

.form__link
	text-decoration: underline

.tarrifsList
	display: flex
	justify-content: space-between
	transition: .25s ease-in-out


.tarrifsList__term
	font-family: $laptev
	font-size: $secondTitle	
	font-weight: lighter
	color: $white	
	margin-bottom: 20px

.tarrifsList__card
	background-image: url("/img/bgTarrifs.png"), url("/img/bgTarrifsHover.png"), url("/img/bgTarrifsActive.png")	
	background-size: auto , 0, 0
	background-repeat: no-repeat
	width: 360px
	height: 550px
	text-align: left
	padding-top: 70px
	padding-left: 100px
	position: relative

.tarrifsList__card:hover
	background-image: url("/img/bgTarrifsHover.png")

.tarrifsList__card:hover .tarrifsList__button 
	display: block 
	color: $hover

.tarrifsList__card:active
	background-image: url("/img/bgTarrifsActive.png")

.tarrifsList__card:active .tarrifsList__button 
	display: block 
	color: $active	


.tarrifsList__includeList
	color: $white
	margin-left: -10px		

.tarrifsList__include
	margin-bottom: 10px	
	list-style: inside
	list-style-type:"— "

.tarrifsList__button
	position: absolute
	bottom: 0 
	right: 53px
	display: none

.tarrifsList__price
	font-family: $GilroyBold
	font-size: 28px
	color: $white
	position: absolute	
	bottom: 194px	

.socialList
	display: flex	

.cocialList__item
	margin-right: 10px	

.cocialList__item:last-child
	margin-right: 0		

.burgerMenu
	background: none
	display: none 
	cursor: pointer
	width: 28px
	height: 20px
	position: absolute
	right: 0
	z-index: 12
	@media screen and (max-width: $xlSize)
		display: block	

.burgerMenu span 
	display: block
	position: absolute
	height: 4px
	width: 100%
	background: $blue
	opacity: 1
	left: 0
	transition: .25s ease-in-out

.burgerMenu:hover span 
	background-color: #E5B26F

.burgerMenu:active span 
	background-color: #AD7E40

.burgerMenu span:nth-child(1) 
	top: 0px

.burgerMenu span:nth-child(2), .burgerMenu span:nth-child(3) 
	top: 8px

.burgerMenu span:nth-child(4) 
	top: 16px

.burgerMenu.openMenu span:nth-child(1) 
	top: 18px
	width: 0%
	left: 50%
	
.burgerMenu.openMenu span:nth-child(2) 
	transform: rotate(45deg)

.burgerMenu.openMenu span:nth-child(3) 
	transform: rotate(-45deg)

.burgerMenu.openMenu span:nth-child(4) 
	top: 18px
	width: 0%
	left: 50%	

.map 
	position: absolute
	margin: 0 auto
	width: 1200px
	@media screen and (max-width: $lSize)
		position: static
		width: 600px
		height: 400px

iframe
	margin-left: auto
	margin-right: 0

.popUp
	transition-property: background-color
	transition-duration: 1s
	background-color: rgba(0, 0, 0, 0)
	position: fixed
	width: 100%
	height: 100%
	z-index: 10

.popUp__window
	transition-property: right
	transition-duration: 1s
	position: fixed
	margin: auto
	display: flex
	align-items: center
	justify-content: center
	left: 0
	right: -200%
	top: 0
	bottom: 0 
	width: 400px
	max-height: 200px
	z-index: 20
	background-color: $white
	flex-direction: column

.popUp__mobileMenu
	position: absolute
	margin: auto
	right: 0
	top: 0 
	width: 90%
	height: 90%
	z-index: 20
	background-color: $white

.popUp__paragraph
	max-width: 80%
	text-align: center
	margin-bottom: 20px

.popUp__close
	border: none
	background: none
	position: absolute
	cursor: pointer
	z-index: 12
	width: 28px
	height: 28px
	top: 3px
	right: 4px

.popUp__close span
	display: block
	position: absolute
	height: 4px
	width: 100%
	background: $black
	opacity: 1
	left: 0

.popUp__close span:nth-child(1) 
	transform: rotate(45deg)

.popUp__close span:nth-child(2) 
	transform: rotate(-45deg)	

.popUp__close:hover span 
	background-color: $hover

.popUp__close:active span 
	background-color: $active

.mainNavigation__container
	transition-property: background-color
	transition-duration: 1s

.mainNavigation__container--mobile
	display: block
	position: fixed
	width: 100%
	height: 100%
	z-index: 10
	left: 0
	top: 0

.navigationList--mobile
	position: fixed
	background-color: $white
	background-image: url("/img/logo.png")
	background-repeat: no-repeat
	background-position: left 20px
	display: block	
	width: 80%
	top: 0
	right: -100%
	margin: 0
	padding-top: 120px
	padding-left: 40px


.navigationList--mobile .navigationList__item	
	margin-bottom: 20px
