$xlSize: 1280px
$lSize: 980px
$mSize: 780px
$sSize: 580px
$xsSize: 420px
$black: #111111
$blue: #0A225E
$white: #FFFFFF
$title: 56px
$titleSmall: 32px
$secondTitle: 36px
$laptev: laptevBrush, serif 
$text: Gilroy, sans-serif 
$GilroyBold: GilroyBold, serif 
$signSize: 20px